/* body */
#header1{
    position: absolute;
    right: 100px;
    font-style: oblique;
    color: white;
    top: -15px;
    font-size: 30px;
}
h3{
    position: fixed;
    top: 50px;
    left: 50px;
    color: white;
    font-family: Georgia;
    overflow: hidden;

}
#home-image{
    position: relative;
    width: 100%;
    height: 70%;
}
h1 {
    font: 40px "Helvetica Neue", Arial, Helvetica;
}

h2 {
    font: 28px "Helvetica Neue", Arial, Helvetica;
    margin: 20px;
}

p {
    font: 14px "Helvetica Neue", Arial, Helvetica;
    margin: 20px;
}

/* Nav bar */
#nav-bar-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #003366;
}

.nav-bar-li {
    float: left;
}

.nav-bar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar-li a:hover {
    background-color: #FFD700;
}

.nav-bar-li a:active {
    background-color: black;
}

 /* Videos */ 
iframe {
    /* center the youtube video */
    display: block;
    margin: auto; 
    /* set size */
    width: 560px;
    height: 315px;
}

.video {
    margin: 50px;
}