#orbital-page {
    background-image: url('http://cdn.mysitemyway.com/etc-mysitemyway/webtreats/assets/posts/857/full/tileable-classic-nebula-space-patterns-6.jpg');
    padding-bottom: 10px;
    padding-top: 25px;
}

#orbital-head{
    color: whitesmoke;
    padding-left: 25px;
}
    
iframe {
	position: absolute;
	top: 50px;
	left: 400px;
	width: 1117.5px;
	height: 457.75px;
}

.side-bar{
    width: 600px;
    margin-left: 0px;
    
}

#side-bar-list{
    text-align: left;
    list-style-type: none;
    line-height: 50px;
    font-size: 15pt;
    color: black;
    border-color: black;
    width: 350px;
    margin-left: 0px;
}

#side-bar-list:hover {
    background-color: cyan;
    border: cyan;
}

#blah button {
    background-color: lavender;
    width: 400px;
    margin-left: -40px;
}

.lesson-header {
    color:white;
    padding: 50px;
    padding-top: 20px;
    padding-bottom:20px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #94A3E3;
    text-align: center;
}

p {
    color: black;
    background-color: #94A3E3;
    padding: 10px 100px;
    margin: 10px 0px;
}