#trig-page {
    background-image: url('http://www.talonx.com/file/2013/09/polyagonal-web-design.jpg');
    padding-bottom: 630px;
    padding-top: 25px;
    background-repeat: no-repeat;
}

#trig-head{
    color: whitesmoke;
}

#trig-video{
    position: absolute;
    margin: 50px;
}
.trig-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    
}
.trig-video iframe {
	position: absolute;
	top: 135px;
	left: 400px;
	width: 70%;
	height: 45%;
}

.side-bar{
    width: 300px;
    
}

#side-bar-list{
    text-align: left;
    list-style-type: none;
    line-height: 50px;
    font-size: 12pt;
    margin-right: 100px;
    color: black;
    border-color: black;
    width: 300px;
}

#side-bar-list:hover {
    background-color: cyan;
    border: none;
}

#blah button {
    background-color: lavender;
}
