 <!-- About page html content -->
        <div id="about-page">
            <h1 id="header1"><strong>About</strong></h1>
            <!--<p>
               The purpose of the Intelligence Community (IC) Academy is to
               teach prospective employees about important space and orbital
               concepts.
            </p>         -->
            <h2>Works Cited</h2>
            <p>Understanding Space: An Introduction to Astronautics by Jerry Jon Sellers</p>
            <p>http://www.physicsclassroom.com/class/circles/Lesson-4/Kepler-s-Three-Laws</p>
        </div>
