<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="index.js"></script>
    <title>IC Academy</title>
</head>
<body ng-app="firstApplication" ng-cloak>
    <div ng-controller="headerController as header_ctrl">
        <ul id="nav-bar-ul">
            <li class="nav-bar-li"><a ng-click="header_ctrl.changeTab('Home')">Home</a></li>
            <li class="nav-bar-li"><a ng-click="header_ctrl.changeTab('Topics')">Topics</a></li>
            <li class="nav-bar-li"><a ng-click="header_ctrl.changeTab('Videos')">Videos</a></li>
            <li class="nav-bar-li"><a ng-click="header_ctrl.changeTab('About')">About</a></li>
        </ul>

        <!-- Home page html content -->
        <div ng-if="header_ctrl.tabName == 'Home'">
            <h1 id="header1" align="center">IC Academy</h1>
            <h2>Lessons</h2>
            <p><a target="_blank" href="https://en.wikipedia.org/wiki/Orbital_mechanics">
                Orbital Mechanics 101
            </a></p>
        </div>

        <!-- Topics page html content -->
        <div ng-if="header_ctrl.tabName == 'Topics'" ng-controller="autoCompleteController as ctrl" layout="column" ng-cloak>
            <h1 id="header1" align="center">Topics</h1>
            <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Search topic">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{ctrl.searchText}}" were found.
                        <a ng-click="ctrl.newState(ctrl.searchText)"></a>
                    </md-not-found>
                </md-autocomplete>
                <br/>
            </form>
            </md-content>
        </div>
        
        <!-- Videos page html content -->
        <div ng-if="header_ctrl.tabName == 'Videos'">
            <h1 align="center">Orbital Videos</h1>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/VGcQhgkXPx0?ecver=1" 
                            frameborder="0" 
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/tJiAkBxuqfs" 
                            frameborder="0" 
                            allowfullscreen>
                    </iframe>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/Am7EwmxBAW8" 
                            frameborder="0" 
                            allowfullscreen>
                    </iframe>
                </div>
        </div>

        <!-- About page html content -->
        <div ng-if="header_ctrl.tabName == 'About'">
            <h1 align="center">About</h1>
            <p>
               The purpose of the Intelligence Community (IC) Academy is to
               teach prospective employees about important space and orbital
               concepts.
            </p>
        </div>

    </div>
</body>
</html>
