<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <title>IC Academy</title>
</head>
<body>
    <script src="index.js"></script>
    <div ng-app="topicList" ng-controller="myCtrl">
        <ul>
            <li ng-repeat="topic in temp_topics"><a target="_blank" ng-href = "{{topic.link}}">{{topic.name}}</a></li>
        </ul>
        <input ng-model="searchMe">
        <button ng-click="searchTopic()">Search</button>
    </div>
    <h1 id="header1">IC Academy</h1>
    <p>This website will be used to help 
        train future employees on oribtal physics
    </p>
    <img src="https://www.nitt.edu/home/academics/departments/physics/Faculty/lecturers/justin/students/magnetic/origin/origin.gif">
    </img>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VGcQhgkXPx0?ecver=1" frameborder="0" allowfullscreen></iframe>"
    <p>
        This is a quick 101 intro to Orbital Mechanics
    </p>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Orbital_mechanics">
        Click here
    </a>
    <script>
        var app = angular.module("topicList", []); 
        app.controller("myCtrl", function($scope) {
            $scope.topics = [
                    {name:"Rockets", link:"https://en.wikipedia.org/wiki/Rocket" },
                    {name:"Satellite", link:"https://en.wikipedia.org/wiki/Satellite" }, 
                    {name:"Kepler", link: "https://en.wikipedia.org/wiki/Kepler%27s_laws_of_planetary_motion"}
                ];
            $scope.temp_topics = $scope.topics;
                $scope.searchTopic = function(){
                    var ctr = 0;
                    for (var i = 0; i < $scope.topics.length; i++){
                        if ($scope.topics[i].name == $scope.searchMe){
                            $scope.temp_topics = [$scope.topics[i]];
                            console.log($scope.temp_topics);
                            ctr++;
                        }    
                    } 
                    if (!ctr) {
                        $scope.temp_topics = $scope.topics;
                    }
                }
        });
</script>


</body>

</html>