<div id="orbital-page">
    <link rel="stylesheet" href="css/orbital.css">

    <div id="orbits-intro" class="next-to" ng-controller="lessonController as lessonCtrl">
            <ul class="side-bar next-to">
                <div ng-repeat="lesson in lessons">
                    <a ui-sref="{{lesson.uisref}}">
                        <button id="{{lesson.id}}" class="side-bar-list" ng-click="highlightTab(lesson.id)">
                            <li>{{lesson.name}}</li>
                        </button>
                    </a>
                </div>
            </ul>

            <!--<img id="cover-image" onclick="this.style.display='none';" src="https://scijinks.gov/review/orbit/geo.gif"></img>-->
            <iframe class="next-to" src="https://www.youtube.com/embed/tJiAkBxuqfs"
                    frameborder="0" 
                    allowfullscreen>
            </iframe>
    </div>
           
    <div ui-view></div>
</div>