<h1 class="lesson-header">Practice</h1>
<!--Free Response Quiz-->
<div class="orbit-text" ng-controller="practiceController as practice">
    <h1>Exercises</h1>
    <div ng-repeat="info in exercises">
        <div ng-show="info.selected">
            <h2>{{"Problem " + info.problem}}</h2>
            <hr>
        </div>
        <div ng-show="info.selected" class="exercise" ng-style="styleExercise(info)">
            <div class="exersise-left-side next-to">
                <p class="exercise-question">{{info.question}}</p>
                <form>
                    <input ng-disabled="info.disable" type="text" id="{{info.answerId}}" name="answer" autocomplete="off">
                    <input class="check-button" ng-disabled="info.disable" type="submit" value="Check" ng-click="checkAnswer(info)">
                </form>
                <p>{{info.attemptStatus}}</p>
                <div>
                    <button ng-if="info.problem != 1" class="previous round" ng-click="selectPreviousProblem(info)">&#8249; back</button>
                    <button ng-if="info.problem != exercises.length" class="next round" ng-click="selectNextProblem(info)">next &#8250;</button>
                </div>
                <div class="hint-container">
                    <div ng-hide="info.hintBool" class="next-to" id="{{info.id}}"></div>
                    <div ng-if="info.hintBool">
                        <button class="hint-link" ng-click="hint(info)">Get Hint</button>
                    </div>
                </div>
            </div>
            <div class="exercise-right-side next-to">
                <p>This is just a place holder with 
                    <a href="https://www.youtube.com/watch?v=8ij8c8_lvrs">really important quiz content</a>.
                </p>
            </div>
        </div>
    </div>
     <div ng-if="allAnswered || info.problem == 2">
         <hr>
        <button class="green-expanding-button" ng-click="submitQuiz()">Submit</button>
    </div>
    <div ng-if="showScore">
        <p>{{"Total score: " + numCorrect + " out of " + exercises.length}}</p>
    </div>
</div>
<!--Multiple Choice Quiz-->
<!--<div class="orbit-text" ng-controller="practiceController as practice">
    <h1>Sample Quiz</h1>
    <hr>
    <form ng-submit="submit()">
        <div ng-repeat="q in multipleChoiceQuestions">
            <p>Selected Value: <span class="radioValue">{{ selected }}</span> </p>
            <p>{{q.question}}</p>
            <md-radio-group ng-model="selected">
                <md-radio-button ng-repeat="d in q" ng-value="d.value" aria-label="{{d.label}}">{{d.label}}</md-radio-button>
            </md-radio-group>
            <hr>
        </div>
    </form>   
</div>-->
<!--Interactive Quiz-->
<!--<div class="interactive-problem orbit-text" ng-controller="practiceController as practice">
    <h1>Interactive problem</h1>
    <hr>
    <div bind-Dee-Three-Stuff="myData">
        <div id="test"></div>
    </div>
</div>-->
<!--Next and Back button-->
<div id="container">
    <form class="lesson-nav-buttons" action="#!/topics/orbital/lesson2">
        <button>Back: Kepler's Laws</button>
    </form>

     <form class="lesson-nav-buttons" action="#!/topics/orbital/lesson4">
        <button>Next: Lesson 4</button>
    </form>
</div>