<h1 style="color:blue;">Properties of Sine Graph</h1>
    <ul>
        <li><a href="" ng-click="show=true">Aplitude</a></li>
        <li><a href="" ng-click="show1=true">Period</a></li>
        <li><a href="" ng-click="show2=true">Domain</a></li>
        <li><a href="" ng-click="show3=true">Range</a></li>
    </ul>

    <button ng-click="show=false" ng-click="show1=false">Hide</button>

    <img ng-show="show" src="http://trigonometric101.weebly.com/uploads/6/0/0/1/60016967/4927760_orig.gif"></img>
    <img ng-show="show1" src="http://www.mathwarehouse.com/trigonometry/period-sine-cosine/images/diagram-of-period-ofsinehalfx.png"></img>
