<h1 style="color:blue;">Properties of Sine Graph</h1>
    <p>If the equation y = sin (2x + p), is rewritten in the form y = sin (2(x + p/2)) then the horizontal shift is p/2. In general, the horizontal shift is -C/B . Notice in the figure above that the starting point of the blue sine function has been shifted to (p/2, 0).
        To summarize, any periodic function of the form y = A sin (Bx + C) + h has the following features.

                |A| = the amplitude

                2p/|B| = the period

                h = vertical shift

                -C/B = the phase shift (horizontal shift)</p>

    <ul>
        <li><a href="" ng-click="show=true">Aplitude</a></li>
        <li><a href="" ng-click="show1=true">Period</a></li>
        <li><a href="" ng-click="show2=true">Domain</a></li>
        <li><a href="" ng-click="show3=true">Range</a></li>
    </ul>


